body {
    background-color: rgb(71, 71, 71);
}

.bg-default {
    background-color: rgb(71, 71, 71);
}

#partCategoriesContainer {
    width: 100%;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button.collapsed {
    background-color: rgb(71, 71, 71);
}

.accordion-button:not(.collapsed) {
    background-color: rgb(71, 71, 71);
}

.bg-grey {
    background-color: grey;
}

.accordion-collapse {
    background-color: rgb(71, 71, 71);
}

.outline-light {
    border: 0.5px solid white !important;
}

.bg-none {
    background-color: rgba(0, 0, 0, 0) !important;
}

.cursor-pointer {
    cursor: pointer;
}
.itemNameContainer {
    padding: 0.5rem !important;
    display: flex;
    justify-content: center;
}

.itemNameContainer > p {
    margin-bottom: 0rem !important;
}

.stratagemImage {
    height: 3rem;
}

.itemCards {
    background-color: rgb(71, 71, 71);
    width: 100%;
    /* cursor: pointer; */
}

.itemCards:hover {
    border: 1px solid yellow;
}

@media only screen and (max-width: 650px) {
    #stratText {
        display: none;
    }
    #equipText {
        display: none;
    }
    #optionsText {
        display: none;
    }
    #armorButtonText {
        display: none;
    }
    .armorSizeLogo {
        font-size: 2rem;
    }
    #armorButtonIcon {
        display: block;
    }
    #stratIcon {
        display: block;
    }
    #equipIcon {
        display: block;
    }
    #optionsIcon {
        display: block;
    }
}

@media only screen and (min-width: 651px) {
    #stratText {
        display: block;
    }
    #equipText {
        display: block;
    }
    #optionsText {
        display: block;
    }
    #armorButtonText {
        display: block;
    }
    .armorSizeLogo {
        font-size: 4rem;
    }
    #armorButtonIcon {
        display: none;
    }
    #stratIcon {
        display: none;
    }
    #equipIcon {
        display: none;
    }
    #optionsIcon {
        display: none;
    }
}

#armorContainer {
    color: white;
}

.armorLogo {
    margin-top: auto;
    margin-bottom: auto;
}

.shuffle-icon {
    transform: rotateY(180deg);
}
