body {
  background-color: #2d2d2d;
  font-family: "Titillium Web", sans-serif;
}

.bg-default {
  background-color: #2d2d2d;
}

#partCategoriesContainer {
  width: 100%;
}

.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button.collapsed {
  background-color: #2d2d2d;
}

.accordion-button:not(.collapsed) {
  background-color: #2d2d2d;
}

.bg-grey {
  background-color: #2d2d2d;
}

.accordion-collapse {
  background-color: #2d2d2d;
}

.outline-light {
  border: 0.5px solid white !important;
}

.bg-none {
  background-color: rgba(0, 0, 0, 0) !important;
}

.cursor-pointer {
  cursor: pointer;
}
.itemNameContainer {
  padding: 0.5rem !important;
  display: flex;
  justify-content: center;
}

.itemNameContainer > p {
  margin-bottom: 0rem !important;
}

.stratagemImage {
  height: 3rem;
}

#motImage {
  width: 25%;
}

.itemCards {
  background-color: rgb(71, 71, 71);
  width: 100%;
  cursor: pointer;
}

.soItemCards {
  background-color: rgb(71, 71, 71);
  padding: 0rem;
}

.pcItemCards {
  background-color: rgb(71, 71, 71);
  padding: 0rem;
}

.pcItemCards > div {
  text-align: center;
}

.pcItemCards:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  z-index: 1;
  border: 1px solid yellow;
}

.pcNoHoverItemCards {
  background-color: rgb(71, 71, 71);
  padding: 0rem;
}

.pcNoHoverItemCards > div {
  text-align: center;
}

.pcNoHoverItemCards:hover {
  border: 1px solid yellow;
}

.specialistCards {
  cursor: pointer;
  background-color: rgb(71, 71, 71);
}

.specialistCards:hover {
  border: 1px solid yellow;
}

.pcModalItemCards {
  width: 25%;
  cursor: pointer;
}

.pcItemCardText {
  font-size: 0.75rem;
}

.itemCards:hover {
  border: 1px solid yellow;
}

@media only screen and (max-width: 767px) {
  #bbMissionFailedText,
  #bbMissionCompleteText,
  #bbLoadoutText,
  #bbShopText,
  #bbTypeText,
  #bbPriceText,
  #bbResetText,
  #bbSearchText,
  #superCreditsText,
  #warbondSelectButtonDesktop {
    display: none;
  }

  #bbMissionFailedIcon,
  #bbMissionCompleteIcon,
  #bbLoadoutIcon,
  #bbShopIcon,
  #bbTypeIcon,
  #bbPriceIcon,
  #bbResetIcon,
  #bbSearchIcon,
  #superCreditsIcon,
  #warbondSelectButtonMobile {
    display: block;
  }

  #bbShopFilterDiv {
    justify-content: end;
  }
}

@media only screen and (min-width: 768px) {
  #bbMissionFailedText,
  #bbMissionCompleteText,
  #bbLoadoutText,
  #bbShopText,
  #bbTypeText,
  #bbPriceText,
  #bbResetText,
  #bbSearchText,
  #superCreditsText,
  #warbondSelectButtonDesktop {
    display: block;
  }

  #bbMissionFailedIcon,
  #bbMissionCompleteIcon,
  #bbLoadoutIcon,
  #bbShopIcon,
  #bbTypeIcon,
  #bbPriceIcon,
  #bbResetIcon,
  #bbSearchIcon,
  #superCreditsIcon,
  #warbondSelectButtonMobile {
    display: none;
  }

  #bbShopFilterDiv {
    justify-content: center;
  }
}

@media only screen and (max-width: 650px) {
  #stratText {
    display: none;
  }
  #equipText {
    display: none;
  }
  #optionsText {
    display: none;
  }
  #armorButtonText {
    display: none;
  }
  .armorSizeLogo {
    font-size: 2rem;
  }
  #armorButtonIcon {
    display: block;
  }
  #stratIcon {
    display: block;
  }
  #equipIcon {
    display: block;
  }
  #optionsIcon {
    display: block;
  }
}

@media only screen and (min-width: 651px) {
  #stratText {
    display: block;
  }
  #equipText {
    display: block;
  }
  #optionsText {
    display: block;
  }
  #armorButtonText {
    display: block;
  }
  .armorSizeLogo {
    font-size: 4rem;
  }
  #armorButtonIcon {
    display: none;
  }
  #stratIcon {
    display: none;
  }
  #equipIcon {
    display: none;
  }
  #optionsIcon {
    display: none;
  }
}

#armorContainer {
  color: white;
}

.armorLogo {
  margin-top: auto;
  margin-bottom: auto;
}

.shuffle-icon {
  transform: rotateY(180deg);
}

.itemOptionsModalHeaders {
  display: block !important;
}

.acquiredItemsAccordionItem {
  height: 250px;
  overflow-y: overlay;
  overflow-x: hidden;
  scrollbar-color: #fff rgb(71, 71, 71);
  background-color: #2d2d2d;
}

#downloadPDFButtonDiv {
  display: none;
}

.costBadges {
  font-size: 0.9rem !important;
  top: 5%;
  left: 90%;
  position: absolute;
}

#bbShopItemsContainer {
  overflow-y: auto;
  max-height: 70vh;
  min-height: 20vh;
  display: flex;
  justify-content: center;
}

.bbItemCards {
  cursor: pointer;
  position: relative;
  margin: 0.25rem !important;
}

.no-caret::after {
  display: none !important;
}

#stratagemsContainerBB,
#equipmentContainerBB {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.emptyItemContainers {
  text-align: center;
  margin: 0.5rem;
  border: 1px solid yellow;
  padding: 0rem;
}

.challengeCards {
  text-decoration: none;
  color: inherit;
  border: none;
}

.challengeCards:hover {
  border: 1px solid yellow;
}

@keyframes colorCycle {
  0% {
    color: red;
  }
  33% {
    color: cyan;
  }
  66% {
    color: green;
  }
  100% {
    color: red;
  }
}

.color-changer {
  animation: colorCycle 5s infinite;
}

.scrollablePlanetList {
  max-height: 200px; /* adjust as needed */
  overflow-y: auto;
}

#soSavedGameOptionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pcMandatoryStratagemClass {
  border: 2px solid cyan;
}
